*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

/* html {
  color-scheme: dark light;
} */

@font-face {
  font-family: DuplicateSans;
  src: url(./components/fonts/DuplicateSans-Bold.ttf);
}

h1,
h2,
h3,
h4 {
  font-family: DuplicateSans;
}

/* @font-face {
  font-family: DMSans;
  src: url(./components/fonts/DMSans-BoldItalic.ttf)
} */

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* input, textarea, button, select {
  font: inherit;
} */

/* color variables to help decide when each color is to be used */
:root {
  /* for any text. important text will use primary color or accent color */
  --textColor: #ffffff;
  /* background color. if there's a want to change background color, explore using secondary color */
  --bgColor: #020401;
  /* primary and secondary colors can be used as alternatives to background colors, stuff like borders and also buttons */
  --primaryColor: #aae090;
  --secColor: #102009;
  /* accent color is used to draw attention to a button or something very important! */
  --accentColor: #7fdb57;
}

.kUOkfN.active{
  background-color: #7fdb57 !important;
}

.jgZHdE:not(.using-icon).active {
  background: #7fdb57 !important;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #131a0f;
    border-radius: 5px;
    margin-block: 3px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #449720;
    border-radius: 5px;
  }
}